<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto bg-light sticky-top">
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top"
      >
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"
        >
          <li class="nav-item">
            <a
              href="/dashboard"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Home"
            >
              <i class="bi-house fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/offres-stage"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Dashboard"
            >
              <i class="bi bi-box-arrow-in-right fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/stages"
              class="nav-link py-3 px-3 text-bg-primary"
              style="color: grey"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Orders"
            >
              <i class="bi bi-card-list fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/session"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-calendar-date fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/chart"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-clipboard2-data-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/projets"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-person-workspace fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/new-projet"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-plus-circle-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/offre-de-stage"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-list-ul fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/validate-offre"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-check-square-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/affectation"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-arrow-left-right fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/docs"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-file-text-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              href="/stage"
              class="nav-link py-3 px-3 bg-light"
              title=""
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              data-bs-original-title="Customers"
            >
              <i class="bi-plus-square-fill fs-3"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle bg-light"
              href="#"
              id="navbarDropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <i class="bi-people fs-3"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100">
      <div class="card">
        <div class="row" align="center">
          <h4>L'étudiant affectés à l'encadrant</h4>
        </div>
      </div>
      <div class="col-sm p-3 min-vh-100 text-center">
        <div class="container">
          <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.1/css/all.min.css"
            integrity="sha256-2XFplPlrFClt0bIdPgpz8H7ojnk10H69xRqd9+uTShA="
            crossorigin="anonymous"
          />
          <div class="container mt-3 mb-4">
            <div class="col-lg-14 mt-4 mt-lg-0">
              <div class="row">
                <div class="col-md-12">
                  <div
                    class="user-dashboard-info-box table-responsive mb-0 bg-white p-4 shadow-sm rounded-7"
                  >
                    <table class="table manage-students-top mb-0">
                      <thead>
                        <tr>
                          <th class="text-center"><b>#</b></th>
                          <th class="text-center"><b>Nom</b></th>
                          <th class="text-center"><b>Prénom</b></th>
                          <th class="text-center"><b>Adresse e-mail</b></th>
                          <th class="text-center"><b>Actions</b></th>
                        </tr>
                      </thead>
                      <tbody>
                        <!-- Dynamic rows should be added here -->
                      </tbody>
                    </table>
                    <div class="row g-0 align-items-center pb-4 my-3">
                      <div class="col-sm-6"></div>
                      <div class="col-sm-6">
                        <div class="float-sm-end">
                          <ul class="pagination mb-sm-0">
                            <li class="page-item disabled">
                              <a href="#" class="page-link"
                                ><i class="mdi mdi-chevron-left"></i
                              ></a>
                            </li>
                            <li class="page-item active">
                              <a href="#" class="page-link">1</a>
                            </li>
                            <li class="page-item">
                              <a href="#" class="page-link">2</a>
                            </li>
                            <li class="page-item">
                              <a href="#" class="page-link">3</a>
                            </li>
                            <li class="page-item">
                              <a href="#" class="page-link">4</a>
                            </li>
                            <li class="page-item">
                              <a href="#" class="page-link">5</a>
                            </li>
                            <li class="page-item">
                              <a href="#" class="page-link"
                                ><i class="mdi mdi-chevron-right"></i
                              ></a>
                            </li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
