<!--<div class="container">-->
<!--  <button (click)="goToAdd()" class="btn btn-info" style="margin-right: 8px">-->
<!--    <i class="bi bi-pencil-square"></i>-->
<!--  </button>-->
<!--  <div class="row">-->
<!--    <div class="col">-->
<!--      <div *ngIf="offresDeStage" class="text-center">-->
<!--        <h2>Liste des offres de stage</h2>-->
<!--        <br>-->
<!--        <br>-->
<!--        <br>-->
<!--        <table class="table">-->
<!--          <thead class="text-white bg-dark">-->
<!--          <tr>-->
<!--            <th>Date de début</th>-->
<!--            <th>Date de fin</th>-->
<!--            <th>Poste</th>-->
<!--            <th>Entreprise</th>-->
<!--            <th>Actions</th>-->
<!--          </tr>-->
<!--          </thead>-->
<!--          <tbody>-->
<!--          <tr *ngFor="let offreDeStage of offresDeStage">-->
<!--            <td>{{ offreDeStage.dateDebut | date }}</td>-->
<!--            <td>{{ offreDeStage.dateFin | date }}</td>-->
<!--            <td>{{ offreDeStage.poste }}</td>-->
<!--            <td>{{ offreDeStage.entreprise }}</td>-->

<!--            <td>-->
<!--              <div class="btn-group">-->
<!--                <button (click)="goToDetails(offreDeStage)" class="btn btn-success" style="margin-right: 8px">-->
<!--                  <i class="bi bi-book"></i>-->
<!--                </button>-->
<!--                <button (click)="handleDeleteButton(offreDeStage)" style="margin-right: 8px" class="btn btn-danger">-->
<!--                  <i class="bi bi-trash"></i>-->
<!--                </button>-->
<!--                <button (click)="goToUpdate(offreDeStage)" class="btn btn-warning" style="margin-right: 8px">-->
<!--                  <i class="bi bi-pencil-square"></i>-->
<!--                </button>-->
<!--              </div>-->
<!--            </td>-->
<!--          </tr>-->
<!--          </tbody>-->
<!--        </table>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container-fluid">
  <div class="row">
    <div class="col-sm-auto bg-light sticky-top">
      <div
        class="d-flex flex-sm-column flex-row flex-nowrap bg-light align-items-center sticky-top"
      >
        <ul
          class="nav nav-pills nav-flush flex-sm-column flex-row flex-nowrap mb-auto mx-auto text-center align-items-center"
        >
          <li class="nav-item">
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Home"
            >
              <i class="bi-house fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Offres de stage"
            >
              <i class="bi bi-box-arrow-in-right fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Stages"
            >
              <i class="bi bi-card-list fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Sessions"
            >
              <i class="bi-calendar-date fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Charts"
            >
              <i class="bi-clipboard2-data-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Projets"
            >
              <i class="bi-person-workspace fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="New Projet"
            >
              <i class="bi-plus-circle-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 text-bg-primary"
              style="color: grey"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Offres de stage"
            >
              <i class="bi-list-ul fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Validate Offre"
            >
              <i class="bi-check-square-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Affectation"
            >
              <i class="bi-arrow-left-right fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Docs"
            >
              <i class="bi-file-text-fill fs-3"></i>
            </a>
          </li>
          <li>
            <a
              class="nav-link py-3 px-3 bg-light"
              data-bs-toggle="tooltip"
              data-bs-placement="right"
              title="Stage"
            >
              <i class="bi-plus-square-fill fs-3"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle bg-light"
              href="#"
              id="navbarDropdownMenuLink"
              data-bs-toggle="dropdown"
              aria-expanded="false"
              title="Menu"
            >
              <i class="bi-people fs-3"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Log out</a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-sm p-3 min-vh-100">
      <div class="container mt-4">
        <div class="card">
          <div class="card-header text-bg-info h4">
            Offres de Stage
          </div>
          <div class="card-body">
            <table class="table">
              <thead>
                <tr>
                  <th>ID</th>
                  <th>Poste</th>
                  <th>Entreprise</th>
                  <th>Description</th>
                  <th>Date de début</th>
                  <th>Date de fin</th>
                  <th>Technologie</th>
                </tr>
              </thead>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
